{
  "watchUrl": "http://catalog-watches-eshop.{{ ocp_ingress_domain[0] }}",
  "watchPath": "/watches",
  "paymentUrl": "http://payment-watches-eshop.{{ ocp_ingress_domain[0] }}",
  "paymentPath": "/payments",
  "orderUrl": "http://order-watches-eshop.{{ ocp_ingress_domain[0] }}",
  "orderPath": "/orders"
}